.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
}

header {
  margin: 20px 0;
}

form {
  padding: 3.5rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
