body {
  background: #440a67;
  color: #ffe3fe;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px 0;
}

.container {
  box-sizing: border-box;
  margin: 20px auto;
  max-width: 100%;
}

header {
  color: #b4aee8;
  text-decoration: underline;
  padding: 0 15px;
  margin: 15px 0;
}

#title {
  font-size: 40px;
  letter-spacing: 3px;
}

#description {
  font-size: 22px;
}

form {
  background: #93329e;
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
}

p {
  display: inline-block;
  font-size: 16px;
}

.clue {
  color: #ffe3fe;
  font-size: small;
  opacity: 0.7;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

#submit {
  color: #ffe3fe;
  background: #440a67;
}
